[init]
  defaultBranch = main
[user]
  email = anurag.ohri@bellroy.com
  name = Anurag Ohri
  signingkey = /home/anuragohri92/.ssh/id_ed25519.pub
[gpg]
  format = ssh
  format = ssh
[diff]
  tool = nvimdiff
[merge]
  conflictstyle = diff3
	tool = meld
[mergetool]
  keepBackup = false
